---
import { Icon } from "astro-icon/components";
import { headerLinks, socialMediaLinks } from "../content/layout.consts";

const path = Astro.url.pathname;
const firstSlug = `/${path.split("/")[1]}`;
---

<header class="flex justify-center sticky top-0 z-20 bg-[#0f172a] w-full">
  <div
    class="flex flex-row justify-between rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] max-w-screen-tablet p-4 tablet:px-8
    tablet:max-w-screen-laptop laptop:px-16 desktop:max-w-screen-desktop
    bigDesktop:max-w-screen-bigDesktop place-items-center w-full"
  >
    <a href="/">
      <img
        src="/logoivan.webp"
        class="rounded-full p-1 bg-white"
        width="60px"
        height="60px"
        alt="Ivan SVG Logo"
      />
    </a>
    <nav class="hidden tablet:flex flex-row tablet:gap-3 laptop:gap-6">
      {
        headerLinks &&
          headerLinks.map((link) => (
            <a
              class={firstSlug === link.href ? "text-[#22d3ee]" : ""}
              href={link.href}
            >
              {link.label}
            </a>
          ))
      }
    </nav>
    <div class="flex flex-row gap-3 items-center px-4">
      {
        socialMediaLinks &&
          socialMediaLinks.map((link) => (
            <a href={link.href} target="_blank" aria-label={link.ariaLabel}>
              <Icon class="size-6" name={link.name} />
            </a>
          ))
      }
    </div>
    <Icon
      data-drawer-target="sidebar-drawer"
      data-drawer-show="sidebar-drawer"
      data-drawer-placement="top"
      aria-controls="sidebar-drawer"
      name="menu"
      class="w-8 h-8 tablet:hidden cursor-pointer"
    />
  </div>
</header>

<!-- drawer component -->
<div id="sidebar-drawer" class="shadow-2xl py-2 border-b-[2px] border-b-[#53116d] bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] flex flex-col fixed top-0 left-0 right-0 z-40 overflow-y-auto transition-transform -translate-y-full bg-[#0F172A] w-full">
  <div class="p-4 border-b-[2px] border-b-[#53116d] flex flex-row justify-between items-center">
    <a aria-hidden="true" href="/">
      <img
        src="/logoivan.webp"
        class="rounded-full p-1 bg-white"
        width="60px"
        height="60px"
        alt="Ivan SVG Logo"
      />
    </a>
    <div class="flex flex-row gap-3 items-center px-4">
      {
        socialMediaLinks &&
          socialMediaLinks.map((link) => (
            <a aria-hidden="true" href={link.href} target="_blank" aria-label={link.ariaLabel}>
              <Icon class="size-6" name={link.name} />
            </a>
          ))
      }
    </div>
    <Icon      
    data-drawer-target="sidebar-drawer"
    data-drawer-hide="sidebar-drawer"
    data-drawer-placement="top"
    aria-controls="sidebar-drawer"
    name="close"
    class="w-8 h-8 tablet:hidden cursor-pointer" />
  </div>
  <nav
  tabindex="-1"
  aria-labelledby="sidebar-drwaer"
  class="divide-y divide-[#53116d]"
  >
  {
    headerLinks &&
    headerLinks.map((link) => (
      <a
      class="flex items-center justify-center  w-full p-2"
      href={link.href}
      >
          {link.label}
        </a>
      ))
    }
  </nav>  
</div>

<style>
  a:hover {
    color: #98e2ed;
  }
</style>
