---
import { Icon } from "astro-icon/components";
import { headerLinks, socialMediaLinks } from "../content/layout.consts";

const path = Astro.url.pathname;
const firstSlug = `/${path.split("/")[1]}`;
---

<header class="flex justify-center sticky top-0 z-20 bg-[#0f172a] w-full">
  <div
    class="flex flex-row justify-between rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] max-w-screen-tablet p-4 tablet:px-8
    tablet:max-w-screen-laptop laptop:px-16 desktop:max-w-screen-desktop
    bigDesktop:max-w-screen-bigDesktop place-items-center w-full z-10"
  >
    <a aria-label="Enlace con Icono ICE" href="/">
      <Icon aria-label="Icono ICE" class="icon-scale size-6 scale-on-hover-big rounded-full p-1 w-[48px] h-[48px] bg-white" color="#6610F2" name="logo" />
    </a>
    <nav class="hidden tablet:flex flex-row tablet:gap-4 laptop:gap-6">
      {
        headerLinks &&
          headerLinks.map((link) => (
            <a
              class={`${firstSlug === link.href ? "text-[#22d3ee]" : ""} scale-on-hover`}
              href={link.href}
            >
              {link.label}
            </a>
          ))
      }
    </nav>
    <div class="flex flex-row gap-3 items-center px-4">
      {
        socialMediaLinks &&
          socialMediaLinks.map((link) => (
            <a href={link.href} target="_blank" aria-label={link.ariaLabel}>
              <Icon class="size-6 scale-on-hover-big" name={link.name} />
            </a>
          ))
      }
    </div>
      <Icon
      id="burger-menu"
      name="menu"
      class="w-8 h-8 tablet:hidden cursor-pointer"
      />
  </div>
  <div id="mobile-menu" class="hidden-menu shadow-2xl py-2 border-b-[2px] border-b-[#53116d] bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))] flex flex-col fixed top-[82px] left-0 right-0 z-40 overflow-y-auto  bg-[#0F172A] w-full"  role="navigation" aria-label="Mobile menu">
    <nav  class="divide-y divide-[#53116d]">
    {
      headerLinks &&
      headerLinks.map((link) => (
        <a
        class="flex items-center justify-center  w-full p-2"
        href={link.href}
        role="menuitem"
        >
            {link.label}
          </a>
        ))
      }
    </nav>  
  </div>
</header>
<script>
  const toogleMenu = () => {
    const menu = document.getElementById("mobile-menu");
    menu?.classList.toggle("hidden-menu");
    menu?.classList.toggle('visible-menu');
  }
  const burgerMenu = document.getElementById("burger-menu");
  burgerMenu?.addEventListener("click", toogleMenu);
</script>
<style>
  a:hover {
    color: #98e2ed;
  }
  .icon-scale:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  .hidden-menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  .visible-menu {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in-out;
  }
</style>
