---
import { seoMapper } from "../../helpers/seo.helper";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  // Por ahora devolvemos un placeholder para que el build estático no falle
  return [{ params: { slug: "proximamente" } }];
}

const { slug } = Astro.params;
const proyecto = slug;

const title = `Iván Ciudad Espinar - Proyecto: ${proyecto}`;
const description =
  "Explora los proyectos de Iván Ciudad Espinar, desarrollador Frontend e Ingeniero Telemático. Descubre mis trabajos en desarrollo de software, aplicaciones web y más.";
const canonical = "https://www.ivanciudad.com/proyectos";
const url = `${canonical}/${proyecto}`;
const image = "https://www.ivanciudad.com/programacion.webp";

const infoSeo = seoMapper(title, description, url, image, canonical);
---

<Layout infoSeo={infoSeo}>
  <p>Proyecto: {proyecto}</p>
</Layout>
