---
import { seoMapper } from "../../helpers/seo.helper";
import Layout from "../../layouts/Layout.astro";
const path = Astro.url.pathname;
const slugs = path.split("/");
const proyecto = slugs[slugs.length - 1];

const title = `Iv치n Ciudad Espinar - Proyecto: ${proyecto}`;	
const description = "Explora los proyectos de Iv치n Ciudad Espinar, desarrollador Frontend e Ingeniero Telem치tico. Descubre mis trabajos en desarrollo de software, aplicaciones web y m치s.";
const canonical = "https://www.ivanciudad.com/proyectos";
const url = `${canonical}/${proyecto}`;
const image = "https://www.ivanciudad.com/programacion.webp";

const infoSeo = seoMapper(title, description, url, image, canonical);
---

<Layout infoSeo={infoSeo}>
  <p>Proyecto: {proyecto}</p>
</Layout>
